.shrc {
    display: flex;
    height: 89.8vh; 
    font-family: 'Poppins', sans-serif;
  }

  .leftot, .rightot {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .leftot {
    flex: 1;
    background-color: #111;
    color: white;
    font-size: 60px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftot h6 {
    font-size: 25px;
    margin: 0; /* Removes any default margin around the h6 element */
    padding-bottom: 5px; /* Adjusts the space below h6 */
    font-weight: 400;
    margin-right: 280px;
    color: #ffffff79;
}

.leftot p {
    font-size: 60px;
    margin: 0; /* Removes default margin around the p element */
    margin-left: 100px;
}

  .rightot {
    flex: 1;
    background-color: #111;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .lregi-form {
    display: flex;
    flex-direction: column;
  }
  
  .lregi-form label {
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 20px;
    color: white;
  }
  
  .lregi-form input {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ffffff; /* Default border color */
    border-radius: 30px;
    background-color: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    outline: none; /* Removes the default outline */
    transition: background-color 0.3s; /* Adds smooth transition */
}

.lregi-form input:focus {
    border: none; /* Removes border on focus */
    background-color: #000000; /* Optional: change background color on focus */
}
.submit-button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  .resumeinput {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    background-color: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    outline: none;
  }
  