/* General styling for navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 10vh;
  border-bottom: 1px solid #ffffff;
  position: sticky; /* Changed to sticky */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1000; /* Ensures it stays on top of other content */
}

/* Logo styling */
.navbar-logo img {
  height: 45px; /* Adjust the size as needed */
  width: auto;
  margin-left: 130px;
  border-radius: 10px;
}

/* Links styling */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 50px; /* Adjust spacing between links */
  margin-right: 80px;
  font-size: 15px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
}

/* Profile image styling */
.navbar-profile-icon .profile-image {
  width: 30px; /* Adjust size as needed */
  height: 30px;
}
